<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Dojo</h1>
    <form action="/dojo" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="">
        <button>Add Dojo</button>
    </form>
    {% for dojo in dojos %}
        <p><a href="/dojo/{{dojo.id}}">{{dojo.name}}</a></p>

    {% endfor %}
    <a href="/ninja">Ninja</a>
</body>
</html>